@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	border-radius: 5px;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

img{
	max-width: 70%;
	max-height: auto;
	margin: 20px 0 10px;
	border: 3px solid #000;
}

a{
	text-decoration: none;
	color: #295fab;
	transition: 0.3s;
}

a:hover{
	text-decoration: underline;
	color: #067eed;
}